[Unit]
Description=NigVpn Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/robot
ExecStart=/root/robot/venv/bin/python run.py
Restart=always
RestartSec=5
StandardOutput=append:/root/robot/bot.log
StandardError=append:/root/robot/bot.log

[Install]
WantedBy=multi-user.target